html{
  font-family: 'Roboto', sans-serif;
}
.contenedor {
  position: fixed;
  display: inline-block;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.dark-mode{
  background-color: #12324b;
}
nav, .page-footer {
  background-color: #125f4b;
}
body{
  background-color: #fffbf4;
}
.brand-logo.center, .letter_footer, #color-mode-button{
  color:  #f4eb9b;
}
.container{
  justify-content: center;
}
.letter_footer a{
  color: #f6b4a5;
}
center{
  display: flex;
  justify-content: center;
}
#color-mode-button{
  background-color: #15955b;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  width: 60px;
  height: 38px;
  padding: 10px;
  margin: 0 20px;
  outline: none;
  font-size: 12px;
  transition: filter 0.4s;
}
#color-mode-button:hover{
  filter: brightness(0.9)
}
.page-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
.page-footer div {
  display: flex;
  align-items: center;
}
.texto_imagen {
  position: absolute;
  top: 430px;
  left: 40px;
  font-size: large;
}
#nombre_random {
  position: absolute;
  top: 177px;
  left: 185px;
  font-size: large;
}
#apellido_random {
  position: absolute;
  top: 208px;
  left: 185px;
  font-size: large;
}
#fecha_random {
  position: absolute;
  top: 240px;
  left: 185px;
  font-size: large;
}
#img_random {
  position: absolute;
  top: 300px;
  left: 420px;
  font-size: large;
}
#dni {
  width: 600px;
}
#img_dni {
  width: 100px;
}
#letra {
  margin-top: -70px;
}
/* Removing Aerrows */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

@media only screen and (max-width: 480px) {
  #dni {
    width: 340px;
  }
  .texto_imagen {
    position: absolute;
    top: 235px;
    left: 22px;
    font-size: large;
  }
  #nombre_random {
    position: absolute;
    top: 97px;
    left: 105px;
    font-size: small;
  }
  #apellido_random {
    position: absolute;
    top: 114px;
    left: 105px;
    font-size: small;
  }
  #fecha_random {
    position: absolute;
    top: 132px;
    left: 105px;
    font-size: medium;
  }
  #img_random {
    position: absolute;
    top: 145px;
    left: 235px;
    font-size: large;
  }
  #img_dni {
    width: 80px;
  }
  #letra {
    margin-top: -50px;
  }
}
